@font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/Cygre-SemiBold/Cygre-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/Cygre-SemiBold/Cygre-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/Cygre-SemiBold/Cygre-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/Cygre-SemiBold/Cygre-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/Cygre-SemiBold/Cygre-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/Cygre-SemiBold/Cygre-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/Cygre-SemiBold/Cygre-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/Cygre-SemiBold/Cygre-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre SemiBold';
    src: url('../fonts/Cygre-SemiBold/Cygre-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto-Sans/NotoSans-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto-Sans/NotoSans-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto-Sans/NotoSans-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto-Sans/NotoSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto-Sans/NotoSans-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto-Sans/NotoSans-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto-Sans/NotoSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto-Sans/NotoSans-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto-Sans/NotoSans-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
